// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey: #777;
$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;
$color-dark-grey: #999;
$color-dark-grey-2: #333;

$color-white: #fff;
$color-black: #000;

//Fonts
$default-font: 1.6rem;

//Lengths
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
