.feature-box {
  background-color: rgba($color-white, 0.8);
  padding: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 2rem rgba($color-black, 0.2);
  transition: transform 0.3s;
  @include responsive(tab-port) {
    padding: 1.5rem;
  }
  &__icon {
    font-size: 6rem;
    margin-bottom: 0.6rem;
    color: $color-primary-dark;
    @supports (-webkit-background-clip: text) or (background-clip: text) {
      background-image: linear-gradient(
        to right,
        $color-primary-light,
        $color-primary-dark
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    @include responsive(tab-port) {
      margin-bottom: 1rem;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
