*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  @include responsive(tab-land) {
    font-size: 56.25%;
  }
  @include responsive(tab-port) {
    font-size: 50%;
  }
  @media only screen and (max-width: 28rem) {
    font-size: 44%;
  }
  @include responsive(big-desktop) {
    font-size: 75%;
  }
}

/*Setting the general font props*/
body {
  box-sizing: border-box;
  padding: 3rem;
  @include responsive(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
